Smart Car Dealership/Smart Car Dealership Workflow.json
{
  "name": "Smart Car Dealership",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-320, 16],
      "id": "cab6281f-a8b6-4af9-8ab4-5eab48d011b4",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "Smart Car Dealership",
        "emailType": "text",
        "message": "=A Car has just been sold: [ {{ $json.body.Car }} {{ $json.body.Price }} {{ $json.body.Buyer }} ]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [48, -112],
      "id": "4b3a691c-69b4-4edd-a6c1-e09a709238d5",
      "name": "Send a message",
      "webhookId": "PLACEHOLDER",
      "credentials": {
        "gmailOAuth2": {
          "id": "PLACEHOLDER",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Car": "={{ $json.body.Car }}",
            "Price": "={{ $json.body.Price }}",
            "Buyer": "={{ $json.body.Buyer }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Car", "displayName": "Car", "type": "string"},
            {"id": "Price", "displayName": "Price", "type": "string"},
            {"id": "Buyer", "displayName": "Buyer", "type": "string"}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [48, 128],
      "id": "3fafdc9f-f4bc-442a-990c-96f91ff53280",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {"node": "Send a message", "type": "main", "index": 0},
          {"node": "Append row in sheet", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "PLACEHOLDER"
  },
  "id": "PLACEHOLDER",
  "tags": []
}
